[user]
	name = Matt Miller
	email = miller.mattster@gmail.com
	signingKey = ""
[core]
	autocrlf = true
	excludesfile = ~/.gitignore_global
	mergeoptions = --no-edit
	longpaths = true
[alias]
	cleanall = !git clean -fdx
	deletemerged = !git branch --merged | egrep -v \"(^\\*|^\\s*(master|main|develop)$)\" | xargs git branch -d
	dt = difftool
	mt = mergetool
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true

[diff]
    tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $REMOTE $LOCAL

[merge]
    tool = vscode
    conflictStyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
