# ignore everything
/*
# ...except these folders and files:
!/.ahk/
!/.setup/

!/.bashrc
!/.gitignore
!/.gitignore_global
!/.gitconfig
!/*vimrc

# ArsClip
!/AppData
/AppData/*
!/AppData/Roaming
/AppData/Roaming/*
!/AppData/Roaming/Arsclip
/AppData/Roaming/Arsclip/*
!/AppData/Roaming/Arsclip/exepaste.ini

# Powershell
!/Documents
/Documents/*
!/Documents/WindowsPowerShell
/Documents/WindowsPowerShell/*
!/Documents/WindowsPowerShell/Microsoft.PowerShell_profile.ps1
