[user]
	name = Matt Miller
	email = miller.mattster@gmail.com
	signingKey = ""
[core]
	autocrlf = true
	excludesfile = ~/.gitignore_global
	mergeoptions = --no-edit
	longpaths = true
[alias]
	sweep = !git branch --merged | egrep -v \"(^\\*|^\\s*(master|develop|test)$)\" | xargs git branch -d
	dt = difftool
	mt = mergetool
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true
[diff]
	tool = p4merge
[difftool]
	prompt = false
[difftool "p4merge"]
	path = C:\\Program Files\\Perforce\\p4merge.exe
[merge]
	tool = p4merge
    conflictStyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = C:\\Program Files\\Perforce\\p4merge.exe
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
