# ignore everything
/*
# ...except these folders and files:
!/.ahk/
!/.setup/

!/.bashrc
!/.gitignore
!/.gitignore_global
!/.gitconfig
!/*vimrc

!/AppData
/AppData/*
!/AppData/Roaming
/AppData/Roaming/*
!/AppData/Roaming/Arsclip
/AppData/Roaming/Arsclip/*
!/AppData/Roaming/Arsclip/exepaste.ini
!/AppData/Roaming/Koffee
/AppData/Roaming/Koffee/*
!/AppData/Roaming/Koffee/config.json

