source ~/_commonvimrc

set ideajoin
set surround

" search for an action name in IDEA by typing :actionlist <term>

nmap gi <Action>(GotoImplementation)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)
nmap <leader>k <Action>(ExpandCollapseToggleAction)
nmap <leader>q <Action>(QuickJavaDoc)
nmap <leader>1 <Action>(ShowErrorDescription)
if &ide =~? 'rider'
    nmap <leader>e <Action>(ReSharperGotoNextErrorInSolution)
else
    nmap <leader>e <Action>(GotoNextError)
    nmap <leader>E <Action>(ActivateProblemsViewToolWindow)
endif
nmap <leader>u <Action>(FindUsages)
nmap <leader>wh <Action>(PrevSplitter)
nmap <leader>wl <Action>(NextSplitter)
nmap <leader>wH <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wL <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>ws <Action>(MoveTabRight)
nmap <leader>wd <Action>(OpenEditorInOppositeTabGroup)
