source ~/_commonvimrc

set ideajoin
set surround

" search for an action name in IDEA by typing :actionlist <term>

nmap gi <Action>(GotoImplementation)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)
nmap <leader>k <Action>(ExpandCollapseToggleAction)
nmap <leader>q <Action>(QuickJavaDoc)
nmap <leader>1 <Action>(ShowErrorDescription)
if &ide =~? 'rider'
    nmap <leader>e <Action>(ReSharperGotoNextErrorInSolution)
else
    nmap <leader>e <Action>(GotoNextError)
    nmap <leader>E <Action>(ActivateProblemsViewToolWindow)
endif
nmap <leader>u <Action>(FindUsages)
nmap <leader>wh <Action>(PrevSplitter)
nmap <leader>wl <Action>(NextSplitter)
nmap <leader>wH <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wL <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>ws <Action>(MoveTabRight)
nmap <leader>wd <Action>(OpenEditorInOppositeTabGroup)

" set conflicting key handlers
sethandler <S-Tab> a:vim
sethandler <S-CR> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim

sethandler <C-Pageup> a:ide
sethandler <C-Pagedown> a:ide
sethandler <S-Left> a:ide
sethandler <C-Left> a:ide
sethandler <S-Up> a:ide
sethandler <C-Up> a:ide
sethandler <S-Right> a:ide
sethandler <C-Right> a:ide
sethandler <S-Down> a:ide
sethandler <C-Down> a:ide
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-A> a:ide
sethandler <C-B> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:ide
sethandler <C-I> a:ide
sethandler <C-L> a:ide
sethandler <C-M> a:ide
sethandler <C-N> a:ide
sethandler <C-O> a:ide
sethandler <C-P> a:ide
sethandler <C-R> a:ide
sethandler <C-S> a:ide
sethandler <C-T> a:ide
sethandler <C-U> a:ide
sethandler <C-V> a:ide
sethandler <C-W> a:ide
sethandler <C-X> a:ide
sethandler <C-Y> a:ide
sethandler <C-Z> a:ide
sethandler <C-[> a:ide
sethandler <C-\> a:ide
sethandler <C-]> a:ide

